* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.logo-slogan {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: 4rem;
  align-items: center;
  background-color: rgb(234, 231, 221);
}
.logo-slogan .logo {
  font-weight: 600;
  font-size: 2rem;
  color: rgb(76, 75, 66);
  margin: 0;
}
.logo-slogan .slogan {
  color: rgb(158, 154, 142);
  margin: 0;
  font-weight: 500;
  line-height: 0%;
  font-size: 1rem;
}

.ham-menu {
  z-index: 999;
  display: flex;
  position: absolute;
  top: 2rem;
  left: 2rem;
  height: 1.2rem;
  flex-direction: column;
  justify-content: space-between;
}
.ham-menu span {
  display: block;
  height: 3px;
  width: 1.5rem;
  border-radius: 5px;
  background-color: rgb(158, 154, 142);
  transition: all 0.2s;
}
.ham-menu span:nth-child(1) {
  transform-origin: 0 0;
}
.ham-menu span:nth-child(3) {
  transform-origin: 0 100%;
}
.ham-menu.active {
  position: fixed;
}
.ham-menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(2px, 0px);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
  transform: scale(0);
}
.ham-menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(0px, 2px);
}

.nav {
  position: relative;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  padding-top: 5rem;
  background-color: rgb(234, 231, 221);
  transform: translateX(-100%);
  transition: all 0.5s;
}
.nav-menu.open {
  position: fixed;
  transform: translateX(0);
}
.nav-menu:first-child {
  padding: 0 1.5rem 0 1.5rem;
}
.nav-menu hr {
  border: none;
  border-radius: 999px;
  background-color: rgb(158, 154, 142);
  width: 90%;
  height: 5px;
}
.nav-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.nav-menu ul li {
  padding: 2.4rem 4rem;
}
.nav-menu ul li:hover {
  background-color: rgb(214, 211, 202);
}
.nav-menu ul .drop-down {
  display: none;
}
.nav-menu ul .drop-down.active {
  display: inline;
}
.nav-menu ul a {
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(158, 154, 142);
  font-size: 1.5rem;
  font-weight: 500;
  width: 10rem;
}

@media only screen and (min-width: 768px) {
  .nav-menu li {
    width: 76%;
  }
}
@media only screen and (min-width: 1024px) {
  .ham-menu {
    display: none;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  nav {
    background-color: rgb(76, 75, 66);
    padding: 0.3rem 0 0.3rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-menu {
    padding: 0;
    transition: none;
    transform: translateX(0);
    width: 100%;
    position: unset;
    height: 2rem;
    background-color: rgb(76, 75, 66);
  }
  .nav-menu hr {
    display: none;
  }
  .nav-menu ul {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.8rem;
    width: 65%;
    height: 100%;
  }
  .nav-menu ul .drop-down {
    margin-top: 1rem;
  }
  .nav-menu ul .drop-down li {
    background-color: rgb(76, 75, 66);
    padding: 1rem 0 1rem 1rem;
  }
  .nav-menu ul .clothes-drop:hover .drop-down {
    display: initial;
  }
  .nav-menu ul li {
    padding: 0.2rem;
  }
  .nav-menu ul li a {
    color: rgb(234, 231, 221);
    font-weight: 400;
    font-size: 1rem;
    position: relative;
  }
  .nav-menu ul li a:hover::before {
    transform: scaleX(1);
  }
  .nav-menu ul li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(234, 231, 221);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  .nav-menu ul li:hover {
    background-color: rgb(76, 75, 66);
  }
}

/* CONTENT!! */

.content{
  position: relative;
}

.whoWeAre{
  background-image: url(../Assets/AboutUs/abtUsBG.png);
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wwaText{
  font-family: "Poppins", sans-serif;
  padding: 0.5%;
  padding-left: 2.6%;
  padding-right: 2.6%;
  color: #EAE7DD;
  font-size: 48px;
  width: 30%;
  font-weight: 600;
  text-align: center;
  border-width: 0.5vw;
  border-style: solid;
  border-color: #EAE7DD;
  background-color: transparent;
  margin-bottom: 3rem;
}

.whoWeAre p{
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  top: 16%;
  left: 28.5%;
}

h1{
  font-size: 3rem;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 3vw;
  padding-top: 5.5vw;
}

.history{
  display: flex;
  flex-direction: row;
  border-width: 0px;
  border-style: solid;
  border-color: #EAE7DD;
  border-radius: 15px;
  box-shadow: 4px 4px 20px rgb(158, 158, 158);
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 16%;
}

.history img{
  height: auto;
  width: 45%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px ;
}

.history p{
  padding: 3.5%;
  padding-left: 7%;
  padding-right: 7%;
  text-align: justify;
  font-size: 1.83vw;
}

@media only screen and (max-width: 800px) {
  .history{
    display: flex;
    flex-direction: column;
  }

  .history img{
    padding-top: 3.5%;
    padding-left: 27%;
  }

  h1{
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px){
  .whoWeAre p{
    font-size: 0.8rem;
  }

  .history p{
    font-size: 0.8rem;
  }
  h1{
    font-size: 1.5rem;
  }
}


footer {
  padding: 3.125rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(234, 231, 221);
}

footer .sub-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}
footer .sub-offer p {
  font-size: 14px;
}
footer .sub-offer button {
  margin-top: 1rem;
  width: 12.5rem;
  padding: 0.8rem;
  background-color: #4C4B42;
  border-radius: 10px;
  border: none;
}
footer .sub-offer button a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
}
footer hr {
  background-color: rgb(196, 196, 196);
  border: rgb(196, 196, 196);
  height: 5px;
  width: 100%;
  margin-bottom: 1.5rem;
}
footer .logo-slogan {
  width: 100px;
  height: 54px;
}
footer .socials {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 8rem;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 70vh;
    width: 60%;
    padding: 0 3rem;
    margin-bottom: 15rem;
  }

  .feature .tops {
    padding-left: 10rem;
  }
  .feature .bottoms {
    margin-top: 10rem;
    padding-right: 5rem;
  }

  .nav-menu li {
    width: 76%;
  }
}
@media only screen and (min-width: 1024px) {
  .ham-menu {
    display: none;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  nav {
    background-color: rgb(76, 75, 66);
    padding: 0.3rem 0 0.3rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-menu {
    padding: 0;
    transition: none;
    transform: translateX(0);
    width: 100%;
    position: unset;
    height: 2rem;
    background-color: rgb(76, 75, 66);
  }
  .nav-menu hr {
    display: none;
  }
  .nav-menu ul {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.8rem;
    width: 65%;
    height: 100%;
  }
  .nav-menu ul li {
    padding: 0.2rem;
  }
  .nav-menu ul li a {
    color: rgb(234, 231, 221);
    font-weight: 400;
    font-size: 1rem;
    position: relative;
  }
  .nav-menu ul li a:hover::before {
    transform: scaleX(1);
  }
  .nav-menu ul li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(234, 231, 221);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  .nav-menu ul li:hover {
    background-color: rgb(76, 75, 66);
  }

  .hero {
    padding-left: 4rem;
    justify-content: center;
    margin-bottom: 0;
    height: 85vh;
  }
  .hero .branding {
    padding-left: 5rem;
    margin-bottom: 3rem;
  }
  .hero .branding .button-hero {
    margin-top: 5rem;
    width: 15rem;
    border: 3px solid #4C4B42;
  }
  .hero .desc {
    font-size: 1.3rem;
  }

  .button-1 {
    background-color: black;
  }
  .button-1 a {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }

  .wrapper {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .wrapper .container .smart-casual {
    margin-right: 4rem;
    padding-left: 2.5rem;
    height: 42.1875rem;
    width: 28.125rem;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .wrapper .container .smart-casual h4 {
    font-size: 2.1rem;
    bottom: 2rem;
    margin-top: 18rem;
    margin-bottom: 5rem;
  }
  .wrapper .container .smart-casual h4:hover:after {
    width: 100%;
  }
  .wrapper .container .smart-casual h4:after {
    width: 60%;
  }
  .wrapper .container .smart-casual .button-1 {
    position: relative;
    bottom: 2rem;
  }
  .wrapper .container .streetwear {
    padding-right: 1.5rem;
    height: 42.1875rem;
    width: 28.125rem;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .wrapper .container .streetwear h4 {
    font-size: 2.1rem;
  }
  .wrapper .container .streetwear h4 .span1 {
    color: white;
  }
  .wrapper .container .streetwear h4 .span3 {
    color: black;
  }
  .wrapper .container .streetwear .button-1 {
    position: relative;
    bottom: 2rem;
    margin-top: 5rem;
    margin-bottom: 13rem;
  }
  .wrapper .feature {
    margin-top: 4rem;
    width: 64.5rem;
    height: 45.25rem;
    background-position-y: 40%;
  }
  .wrapper .feature .tops {
    padding-left: 15rem;
  }
  .wrapper .feature .tops .feature-headings {
    font-size: 1.75rem;
  }
  .wrapper .feature .tops .button-2 a {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .wrapper .feature .bottoms {
    margin-top: 5rem;
    padding-right: 5rem;
  }
  .wrapper .feature .bottoms .feature-headings {
    font-size: 1.75rem;
  }
  .wrapper .feature .bottoms .button-2 a {
    font-size: 1.5rem;
    font-weight: 500;
  }

  footer {
    padding: 3.125rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(234, 231, 221);
  }
  footer .sub-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
  footer .sub-offer p {
    font-size: 14px;
  }
  footer .sub-offer button {
    margin-top: 1rem;
    width: 15rem;
    padding: 0.8rem;
    background-color: #4C4B42;
    border-radius: 10px;
    border: none;
  }
  footer .sub-offer button a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
  }
  footer .sub-offer button:hover {
    transform: scale(110%);
    transition: 0.5s;
    cursor: pointer;
  }
  footer hr {
    background-color: rgb(196, 196, 196);
    border: rgb(196, 196, 196);
    height: 5px;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  footer .socials {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
  }
  footer .socials img:hover {
    transform: scale(115%);
    transition: 0.5s;
    cursor: pointer;
  }
}
